

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root {
  --bg-color:#000;
  --typewriterSpeed: 2s;
  --typewriterCharacters: 24;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width:100%;
  padding: 20px;
  background:#000  url(images/bg.webp) no-repeat top;
  background-size:mask;
  margin:0;
  padding:0;
}
#loading{
	position: fixed;
	width: 100%;
	height: 100vh;
  background:#000;
font-family: 'Hurricane', cursive;
color:#000;
font-size: 7vw;
align-items: center;
 justify-content:center;
 display:flex;
z-index: 99999;
	

}
.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid red;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid red;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid red;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
.container {
    width: 520px;
    margin: auto;
}
h1 {
    border-bottom: 1px solid #d9d9d9;
}
h2{
  position: relative;;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}
h2:before{
  content: '\2192';
  position: absolute;
  left: -20px;
  font-size: 0.9em;
}
a {
    color: #be2221;
    text-decoration: none;
}

.callback,
.simple,
.offset {
  font-size: 20px;
  background: #27ae60;
  padding: 0.5em 0.7em;
  color: #ecf0f1;
  margin-bottom: 50px;
  -webkit-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
}
.offset {
  margin-bottom: 10px;
}
.callback{
  cursor: pointer;
}
.ended {
  background: #c0392b;
}
.styled{
  margin-bottom: 50px;
}
.styled div {
  display: inline-block;
  margin-left: 10px;
  font-size: 30px;
  font-weight: 100;
  line-height: 1;
  text-align: right;
}
/* IE7 inline-block hack */
*+html .styled div{
  display: inline;
  zoom: 1;
}
.styled div:first-child {
  margin-left: 0;
}
.styled div span {
  display: block;
  border-top: 1px solid #cecece;
  padding-top: 3px;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
}
.t1{
	font-family:'quicksand', cursive;
	
	margin:10px;
	font-size:30px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.text-3{
    font-size: 40px;
    margin: 5px 0;
	color:red;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.jar{
	height:200px;
	min-width:400px;
	display:block;
	align-items:center;
	justify-content:center;
	background:#111;
	box-shadow: 0px 10px 50px rgba(252,56,56,.3);
	border-radius:5px;
	

}

.subtitle {
  color: rgba(0, 0, 0, 0.7);
  font-size: 10;
  font-weight: 400;
  opacity: 0;
  transform: translateY(3rem);
  -webkit-animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
          animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

@-webkit-keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}
@-webkit-keyframes blink {
  to {
    background: transparent;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
@-webkit-keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.box {
	text-align: center;
	margin-top:3em;
}
.button2 {
	font-size: 1em;
	padding: 15px 35px;
	color:red;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	background: #222;
	border:0;
    margin-top:5px;
	margin:1em;
	
}
.button1 {
	font-size: 1em;
	padding: 15px 35px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	background: #403e3d;
	border-radius: 50px;
	margin-left:2em;
}
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background:#000 url(images/logo1.gif) no-repeat center;
	background-size:50%;
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	height:100vh;
	width:100%;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.wrapper {
	margin: 70px auto;
	padding: 20px;
	background: #e7e7e7;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
}
.wrapper h2 {
	margin-top: 0;
	color: #333;
}
.wrapper .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.wrapper .close:hover {
	color: #06D85F;
}
.wrapper .content {
	max-height: 30%;
	overflow: auto;
}
/*form*/

.container {
	border-radius: 5px;
	background-color: #e7e7e7;
	padding: 20px 0;
}

hr{
	width:200px;
	background:red;
}
.download-btn:hover{
  background: #FFF;
}
.download-btn i{
  margin-left: 5px;
}
.countdown{
  font-size: 1.1em;
  font-weight: 700;
  margin-bottom: 20px;
}
.countdown span{
  color: #0693F6;
  font-size: 1.5em;
  font-weight: 800;
}

.pleaseWait-text{
  font-size: 1.1em;
  font-weight: 600;
  display: none;
}
.manualDownload-text{
  font-size: 1.1em;
  font-weight: 600;
  display: none;
}/* Coding with nick */
.manualDownload-link{
  color: #0693F6;
  font-weight: 600;
  text-decoration: none;
}
.download-container{

}
.download-container2{

}
.download-btn{
	
	padding: 15px 35px;
	color: red;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	background: #222;
	border:0;
    margin-top:5px;
	margin-right:1em;
	font-family:'Poppins',sans-serif;
	font-weight:0;
	margin-left:2em;
	border-radius:5px;
	font-size:1em;

	
	

}
.download-btn2:hover{
  background: #fff;
}
.download-btn2 i{
  margin-left: 5px;
}
.countdown2{
  font-size: 1.1em;
  font-weight: 700;
  margin-bottom: 20px;
}
.countdown2 span{
  color: #0693F6;
  font-size: 1.5em;
  font-weight: 800;
}

.pleaseWait-text2{
  font-size: 1.1em;
  font-weight: 600;
  display: none;
}
.manualDownload-text2{
  font-size: 1.1em;
  font-weight: 600;
  display: none;
}/* Coding with nick */
.manualDownload-link2{
  color: #0693F6;
  font-weight: 600;
  text-decoration: none;
}
.download-container2{

}
.download-btn2{
	font-size: 1em;
	padding: 15px 35px;
	color: red;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	background:#222;
	border:0;
    margin-top:5px;
    font-family:'Poppins',sans-serif;
	margin-right:2em;
	border-radius:5px;
	
	
	

}
